{% extends "::layout.html.twig" %}

{% block title %} - SecG {% endblock %}

{% block content %}
	{% block sous_titre %}
        <h1>Module SecG</h1>
        <hr>
    {% endblock %}
    {% block content_bundle %}
    {% endblock %}
{% endblock %}